*{
    justify-items: center;
}
.container {
    box-sizing: border-box;
    /* position: absolute; */
    width: 550px;
    height: 850px;
    justify-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #23252C;
}
main{
    position: relative;
    width: 250px;
    height: 399px;
    justify-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1px;
    top:10px;

    background: #1A1B21;
}
#selfie{
    position: relative;
    width: 250px;
    height: auto;
    justify-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 50px;
    border-radius: 10px 10px 0px 0px;
}

#name{
    position: relative;
    width: 178.06px;
    height: 25.81px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 20px;
    text-align: center;

    color: #FFFFFF;
}

#job-title{
    position: relative;
    width: 178.06px;
    height: 14.19px;
    margin-left: auto;
    margin-right: auto;
    top: -20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12.8px;
    text-align: center;
    
    color: #F3BF99;
}

#github{
    position: relative;
    width: 228px;
    height: 16px;
    
    margin-left: auto;
    margin-right: auto;
    top: -20px;
    font-family: 'Inter';
    font-style: normal;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 50%;
    /* identical to box height, or 15px */
    
    text-align: center;
    
    color: #F5F5F5;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 13px 9px 11px;
    margin-top: -30px;
    gap: 8px;
}

#email{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 2px 9px 20px;
    gap: 8px;

    position: relative;
    width: 115px;
    height: 34px;
    left: 15px;

    background: #FFFFFF;
    /* gray/300 */

    border: 1px solid #D1D5DB;
    /* shadow/sm */

   
    border-radius: 6px;
}

#email-icon{
    position: relative;
    right: 65px;
    /* right: 10%;  */
    top: 20%;
    top: 1px;
    bottom: 20%;
    text-align: center;
    align-items: center;
    

    /* background: #1E1F26; */
}

#linkedin{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 2px 9px 20px;
    /* gap: 8px; */
    right: -10px;
    /* right: 1px; */
    position: relative;
    width: 115px;
    height: 34px;
    
    border: 1px solid #5093E2;
    background: #5093E2;
    border-radius: 6px;
}

#linkedin-icon{
    position: relative;
    right: 76px;
    top: 20%;
    top: 1px;
    bottom: 20%;
    text-align: center;
    align-items: center;
    color:#FFFFFF;
    
}
.body{
    position: relative;
    width: 317px;
    height: 399px;    
    margin-left: auto;
    margin-right: auto;

}


.upper-container {
    position: relative;
    width: 220px;
    height: 61px;
    left: 28px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #DCDCDC;
}
.upper-container > h5, .lower-container > h5{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 10%;
    margin-bottom: 10px;
    
    /* or 24px */


    color: #F5F5F5;
}

.lower-container {
    position: relative;
    width: 220px;
    height: 61px;
    left: 28px;
    top: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #DCDCDC;
}

.footer{
    position: relative;
    width: 250px;
    height: 64px;
    bottom: 208px;
    background: #161619;
    border-radius: 0px 0px 10px 10px;
}

.footer-icon-container{
    position: relative;
    width: 104px;
    bottom: 0px;
    margin: 0;
    left: 28px;
    top: 17px;
    align-content: center;
    padding-top: 4px;
    display: flex;
    justify-content: space-between;
}
.footer-icons{
    color: #918E9B;
    margin-left: 20px;
}